<div class="container">
    <div id="title">
        <h1>Eat-Da-Burger</h1>
        <img alt="burger image" class="n3VNCb" src="../public/assests/img/burger.jpg">

    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="undevouredBurgers">
                <ul class="burgerList">
                     {{#each burger}}

                    {{#unless devoured}}
                        <strong  id="undevouerdBurgersList"> {{this.id}} -{{this.burger_name}}</strong>
                        <button type="btn" class="eatBurger" id="devourButton" data-id="{{this.id}}" data-newdevoured="{{devoured}}">Devour Burger</button>
                        </br>
                        </br>
                    {{/unless}}

                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="devouredBurgers">
                <ul class="devouredBurgerList">
                     {{#each burger}}

                    {{#if devoured}}
                        <h6 id="devouerdBurgersList"> {{this.id}} -{{this.burger_name}}</h6>
                        </br>
                        </br>
                    {{/if}}

                    {{/each}}


                </ul>
            </div>
        </div>
    </div>

    <panel>
          
        <form class="createBurger-Form">
            <div class="formGroup">
                <h3 for="newBurger">Make your burger</h3>
                <input type="text" id="newBurger" name="burger">
                <button type="submit" class="btn btn-success" id="addBurger">submit</button>
            </div>
        </form>
    </panel>
</div>
</div>